* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", sans-serif;
}

.app {
  transition: all 0.5s ease-in-out;
}
.library-active {
  margin-left: 30%;
}

@import "./songInfo";
@import "./playSong";
@import "./library";
@import "./librarySong";
@import "./nav";
